@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #212529;
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 16px;
}
::-webkit-scrollbar-corner {
  display: none;
}